<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.rentmasseur.cartman-watcher</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/alep/cartman-bin/start_watcher.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/alep/cartman-bin/watcher_stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/alep/cartman-bin/watcher_stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/alep/miniconda3/bin</string>
        <key>PYTHONPATH</key>
        <string>/Users/alep/miniconda3/lib/python3.12/site-packages</string>
    </dict>
</dict>
</plist>
